# Copyright (c) 2025 Tibo Loete
# SPDX-License-Identifier: MIT

if SHIELD_COBRA_CADENCE_RIGHT

config ZMK_KEYBOARD_NAME
    default "Cobra Cadence"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_COBRA_CADENCE_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif

if SHIELD_COBRA_CADENCE_LEFT || SHIELD_COBRA_CADENCE_RIGHT

config ZMK_SPLIT
    default y

endif

CONFIG_ZMK_KSCAN_DEBOUNCE_PRESS_MS=500
CONFIG_ZMK_KSCAN_DEBOUNCE_RELEASE_MS=500
