# Copyright (c) 2025 Tibo Loete
# SPDX-License-Identifier: MIT

config SHIELD_COBRA_CADENCE_LEFT
    def_bool $(shields_list_contains,my_keyboard_left)

config SHIELD_COBRA_CADENCE_RIGHT
    def_bool $(shields_list_contains,my_keyboard_right)
