/*
 * Copyright (c) 2025 Tibo Loete
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// layers
#define LAYER_BASE 0
#define LAYER_NAV 1
#define LAYER_MOUSE 2
#define LAYER_MEDIA 3
#define LAYER_NUMBER 4
#define LAYER_SYMBOL 5
#define LAYER_FUNCTION 6


// ----------------
// shorter keycodes
// ----------------

#define ______ &trans

// nav & clipboard
#define kp_undo &kp LG(Z)
#define kp_redo &kp LS(LG(Z))
#define kp_copy &kp LG(C)
#define kp_paste &kp LG(V)
#define kp_cut &kp LG(X)
#define kp_wrd_lft &kp LA(LEFT)
#define kp_wrd_rgt &kp LA(RIGHT)

// mouse
#define mouse_left &mmv MOVE_LEFT
#define mouse_down &mmv MOVE_DOWN
#define mouse_up &mmv MOVE_UP
#define mouse_right &mmv MOVE_RIGHT
#define scroll_left &msc SCRL_LEFT
#define scroll_down &msc SCRL_DOWN
#define scroll_up &msc SCRL_UP
#define scroll_right &msc SCRL_RIGHT

// media
#define vol_down &kp C_VOL_DN
#define vol_up &kp C_VOL_UP

// layer tap
#define lt_med_esc &lt LAYER_MEDIA ESC
#define lt_nav_spc &lt LAYER_NAV SPACE
#define lt_mse_tab &lt LAYER_MOUSE TAB
#define lt_sym_bspc &lt LAYER_SYMBOL BSPC
#define lt_num_ent &lt LAYER_NUMBER ENTER
#define lt_fun_del &lt LAYER_FUNCTION DEL

// ----------------


// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick-tap-ms = <200>; };

/ {
    combos {
            compatible = "zmk,combos";
            combo_G {
                //timeout-ms = <50>;
                key-positions = <6 24>;
                bindings = <&kp G>;
                layers = <LAYER_BASE>;
            };
            combo_Y {
                key-positions = <7 25>;
                bindings = <&kp Y>;
                layers = <LAYER_BASE>;
            };
            combo_CAPS {
                key-positions = <7 25>;
                bindings = <&kp CAPS>;
                layers = <LAYER_NAV>;
            };
            combo_MUTE {
                key-positions = <7 25>;
                bindings = <&kp C_MUTE>;
                layers = <LAYER_MEDIA>;
            };
            combo_EQUAL {
                key-positions = <6 24>;
                bindings = <&kp EQUAL>;
                layers = <LAYER_NUMBER>;
            };
            combo_PLUS {
                key-positions = <6 24>;
                bindings = <&kp PLUS>;
                layers = <LAYER_SYMBOL>;
            };
        };

    keymap {                            // comments in keymap are combos
        compatible = "zmk,keymap";

        default_layer {                 // 0
            bindings = <
                &kp ESC                                                                                                                    &kp C_PLAY_PAUSE
                &kp Q       &kp W       &kp D       &kp F       &kp K                   &kp Y       &kp U       &kp R       &kp L       &kp P
                &kp A       &kp S       &kp E       &kp T           /*G*/             /*Y*/         &kp N       &kp I       &kp O       &kp H
                &kp Z       &kp X       &kp C       &kp V       &kp B                   &kp M       &kp J       &kp K       &kp DOT     &kp COMMA
                                        lt_med_esc  lt_nav_spc  lt_mse_tab              lt_sym_bspc lt_num_ent  lt_fun_del
            >;
        };

        navigation_layer {              // 1
            bindings = <
                &bootloader                                                                                                             &bootloader
                ______      ______      ______      ______      ______                  kp_redo     kp_paste    kp_copy     kp_cut      kp_undo
                &kp LCTRL   &kp LALT    &kp LCMD    &kp LSHFT       /* */       /*cps_lck*/         &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT
                ______      ______      ______      ______      ______                  &kp INS     &kp HOME    kp_wrd_lft  kp_wrd_rgt  &kp END
                                        ______      ______      ______                  ______      ______      ______
            >;
        };

        mouse_layer {                   // 2
            bindings = <
                ______                                                                                                                  ______
                ______      ______      ______      ______      ______                  kp_redo     kp_paste    kp_copy     kp_cut      kp_undo
                &kp LCTRL   &kp LALT    &kp LCMD    &kp LSHFT       /* */             /* */         mouse_left  mouse_down  mouse_up    mouse_right
                ______      ______      ______      ______      ______                  ______      scroll_left scroll_down scroll_up   scroll_right
                                        ______      ______      ______                  &mkp RCLK   &mkp LCLK   &mkp MCLK
            >;
        };

        media_layer {                   // 3
            bindings = <
                ______                                                                                                                  ______
                ______      ______      ______      ______      ______                  ______      ______      ______      ______      ______
                &kp LCTRL   &kp LALT    &kp LCMD    &kp LSHFT       /* */          /*mute*/         &kp C_PREV  vol_down    vol_up      &kp C_NEXT
                ______      ______      ______      ______      ______                  ______      ______      ______      ______      ______
                                        ______      ______      ______                  ______      &kp C_PP    ______
            >;
        };

        number_layer {                  // 4
            bindings = <
                ______                                                                                                                  ______
                &kp LBKT    &kp N7      &kp N8      &kp N9      &kp RBKT                ______      ______      ______      ______      ______
                &kp SEMI    &kp N4      &kp N5      &kp N6          /*+=*/            /* */         &kp RSHFT   &kp RCMD    &kp RALT    &kp RCTRL
                &kp GRAVE   &kp N1      &kp N2      &kp N3      &kp BSLH                ______      ______      ______      ______      ______
                                        &kp DOT     &kp N0      &kp MINUS               ______      ______      ______
            >;
        };

        symbol_layer {                  // 5
            bindings = <
                ______                                                                                                                  ______
                &kp LBRC    &kp AMPS    &kp STAR    &kp LPAR    &kp RBRC                ______      ______      ______      ______      ______
                &kp COLON   &kp DLLR    &kp PRCNT   &kp CARET       /*+*/             /* */         &kp RSHFT   &kp RCMD    &kp RALT    &kp RCTRL
                &kp TILDE   &kp EXCL    &kp AT      &kp HASH    &kp PIPE                ______      ______      ______      ______      ______
                                        &kp LPAR    &kp RPAR    &kp UNDER               ______      ______      ______
            >;
        };

        function_layer {                // 6
            bindings = <
                ______                                                                                                                  ______
                &kp F12     &kp F7      &kp F8      &kp F9      &kp PSCRN               ______      ______      ______      ______      ______
                &kp F11     &kp F4      &kp F5      &kp F6          /* */             /* */         &kp RSHFT   &kp RCMD    &kp RALT    &kp RCTRL
                &kp F10     &kp F1      &kp F2      &kp F3      ______                  ______      ______      ______      ______      ______
                                        &kp K_CMENU ______      ______                  ______      ______      ______
            >;
        };

        /*
        empty_layer {                   // x
            bindings = <
                ______                                                                                                                  ______
                ______      ______      ______      ______      ______                  ______      ______      ______      ______      ______
                ______      ______      ______      ______          /-             /-         ______      ______      ______      ______
                ______      ______      ______      ______      ______                  ______      ______      ______      ______      ______
                                        ______      ______      ______                  ______      ______      ______
            >;
        };
        */
    };
 };
