/*
 * Copyright (c) 2025 Tibo Loete
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                &bootloader                                                                                                         &bootloader
                &kp Q       &kp W       &kp E       &kp R       &kp T               &kp Y       &kp U       &kp I       &kp O       &kp P
                &kp A       &kp S       &kp D       &kp F                                       &kp J       &kp K       &kp L       &kp H
                &kp Z       &kp X       &kp C       &kp V       &kp B               &kp N       &kp M       &kp COMMA   &kp DOT     &kp SLASH
                                        &kp LSHFT   &kp SPACE   &kp LCMD            &kp BSPC    &kp ENTER   &kp LALT
            >;
        };
    };
 };
